<p>bs-navbar works!</p>
<!-- Fixed navbar -->
<router-outlet></router-outlet>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Organic Shops!</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/shopping-cart"
            >Shopping-cart</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/register"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="btn btn-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            Username
          </button> 
          <div ngbDropdownMenu="dropdown-menu ">
            <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
            <a class="dropdown-item" routerLink="/admin/orders">Manage Ordres</a>
            <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
            <a class="dropdown-item" routerLink="/">Logout</a>
          </div>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
