<div class ="page-header">
    <h1>Shopping Cart</h1>
    <ng-container *ngIf="cart$ as cart">
        <p>
            You have {{ shoppingCartItemCount }} items in your shopping cart.
        </p>
    

        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody >
                    <tr *ngFor="let row of tableData">
                        <td>{{ row.title }} </td>
                        <td> {{ row.quantity }}</td>
                        <td> {{ row.price }}</td>
                    </tr>
            </tbody>
        </table>
    </ng-container>    
</div>

