@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.page-header {
  margin-top: 60px;
}

.container {
  padding: 40px;
}

body {
  padding: 30px;
}


.btn-primary {
  margin:10px;
}

/* Global styles or component styles */
.success {
  background-color: #43a047; /* Green color for success */
}

.error {
  background-color: #d32f2f; /* Red color for error */
}


