<div class="page-header">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet">
    <h1>Register</h1>
  <div class="input-group mb-3">
    <input type="email" placeholder="Email" [(ngModel)]="email" />
    <input type="password" placeholder="Password" [(ngModel)]="password" />
    <button class="btn btn-primary" (click)="register(email, password)">
      Register
    </button>
  </div>
</div>
